# Recordings
azure-storage-blob==12.9.0
pre-commit==2.20.0
python-dotenv==0.21.0

# Algorithms
opencv-python==4.6.0.66
# only for tracking prototyping
opencv-contrib-python==4.6.0.66
matplotlib==3.6.2

